<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>게시물 사진을 등록하기 위해 앨범 사용 권한이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>게시물 사진을 위해 카메라 사용 권한이 필요합니다.</string>
</dict>
</plist>
